@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
}

body {
  /* min-width: 100vh; */
  padding-top: 60px;
  background-color: #f8f9fc;
}

.item a {
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.item a:hover {
  color: #0088a9;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 5px;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.item li {
  display: inline-block;
  padding: 0px 10px;
}

.logo {
  margin-right: auto;
  cursor: pointer;
}

.content-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.content-container .content-header {
  padding: 15px;
  margin: 10px;
  backdrop-filter: blur(10px); /* 背景模糊效果 */
  -webkit-backdrop-filter: blur(10px); /* Safari 兼容 */
  border-radius: 16px; /* 圆角 */
  border: 1px solid rgba(255, 255, 255, 0.2); /* 柔和边框 */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* 柔和阴影 */
  color: #333; /* 文字颜色 */
  font-weight: 500; /* 字体加粗 */
  align-self: flex-start;
}

.content-text {
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}
